*{
    margin: 0;
    padding: 0;
    font-family: 'Lora', serif;
    /* border: 1px solid yellow; */
}

/* body{
    /* border: 1px solid yellow; 
}*/

.m-w-1200{
    max-width: 1200px;
    margin: 0 auto;
}

body{
    background-color: #14092A;
}

.flex{
    display: flex;
}

.flex-col{
    flex-direction: column;
}

.justify-between{
    justify-content: space-between;
}

.justify-center{
    justify-content: center;
}

.align-center{
    align-items: center;
}

header .menu-button{
    display: none;
}

header{
    box-shadow: 0px 2px 8px rgba(7, 0, 20, 0.6);
}

header .navigation{
    padding: 20px 0;
}

header .nav-link{
    text-decoration: none;
    color: #D1C0F1;
    padding: 0 30px;
    font-weight: 500;
}

header .logo{
    font-size: 24px;
    padding: 0 30px;

} 

header .nav-link:first-child, header .logo{
    background: linear-gradient(73.19deg, #FF52AF 11.6%, #9F53FF 83.86%);
    -webkit-background-clip: text;
    
    color: transparent;
}

#hero main{
    padding: 40px;
}

#hero .description-container{
    padding-left: 20px;
}

#hero .hero-text{
    color: #D1C0F1;
    font-size: 60px;
    font-weight: 400;
    max-width: 450px;
}

#hero .hero-text span:first-of-type{
    background: linear-gradient(73.19deg, #FF52AF 11.6%, #9F53FF 83.86%);
    color: #fff;
    border-radius: 15px;
    padding: 10px;
    transform: rotate(10deg);
    display: inline-block; 
}

#hero .hero-text figure{
    width: 80px;
    height: 80px;
    display: inline-block;
    margin: 0 0 0 60px;
}

#hero .hero-text figure img{
    width: 100%;
} 

#hero .description-text{
    font-size: 16px;
    color: #D1C0F1;
    max-width: 400px;
    padding: 25px 0;
}

#hero .startButton{
    background: linear-gradient(73.19deg, #FF52AF 11.6%, #9F53FF 83.86%);
    width: 50%;
    padding: 15px;
    border-radius: 999px;
}

#hero .startButton a{
    text-decoration: none;
    color: #fff;
}
#hero .startButton i{
    padding-left: 10px;
}

#hero .extra-info span{
    padding: 20px;
}

#hero .extra-info span:nth-child(1){
    padding-right: 70px;
}

#hero .extra-info h2{
    font-weight: 500;
    font-size: 40px;
    color: #fff;
}

#hero .extra-info p{
    font-size: 13px;
    text-align: right;
    color: #D1C0F1;
}

#hero .hero-img{
    width: 50%;
    height: 0%;
}

#hero .hero-img img{
    width: 60%;
}

#course{
    padding: 100px 0;
}

#course main{
    padding: 0 2.5%;
}

#course .course-container main{
    position: relative;
    width: 50%;
    padding: 130px 0 0 0;
}

#course .course-container h2{
    color: #D1C0F1;
    font-size: 50px;
    padding-right: 40px;
}

#course .course-container p{
    color: #A094B8;
    max-width: 350px;
    /* display: flex; */
    position: relative;
    padding-left: 50px;
}

#course .course-container p img{
    width: 18%;
    position: absolute;
    top: -60px;
    left: 70px;
}

#course .course-detail{
    max-width: 100%;
    height: 180px;
    background-color: #372A51;
    border-radius: 9999px;

}

#course .course-detail img{
    height: 130%;
    margin-top: -40px;
}

#course .next-container{
    width: 150px;
    height: 150px;
    background-image: url(images/overlap-circles.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#course .next-container a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color: #D1C0F1;
}

#course .heart-rate{
    border-radius: 50%;
    background-color: #FFE6E5;
    width: 50px;
    height: 50px;
}

#course .heart-rate img{
    width: 70%;
}

#course .health-container{
    background-color: #372A51;
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    left: 2%;
    top: 30%;
    height: 10%;
}

#course .health-container p{
    padding-left: 20px;
}

#course .health-container p span{
    background:  linear-gradient(73.19deg, #FF52AF 11.6%, #9F53FF 83.86%);
    -webkit-background-clip: text;
    color: transparent;
}

#course .health-img img{
    max-width: 90%;
}

#course .health-course p{
    padding: 20% 0 0 0;

}

#course .health-course{
    background-color: #372A51;
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    right: 2%;
    bottom: 10%;
    height: 10%;

}

#course .health-course span{
    background:  linear-gradient(73.19deg, #FF52AF 11.6%, #9F53FF 83.86%);
    -webkit-background-clip: text;
    color: transparent;
}

#course .health-text{
    padding: 0 0 0 100px;
    width: 50%;
}

#course .health-text h2{
    font-weight: 300;
    max-width: 100%;
}

#course .health-text p{
    padding: 30px 0 0 0;
    max-width: 500px;
}

#course .start-now{
    background: linear-gradient(73.19deg, #FF52AF 11.6%, #9F53FF 83.86%);
    padding: 15px;
    width: 110px;
    border-radius: 9999px;
    margin-top: 50px;
}

#course .start-now a{
    text-decoration: none;
    color: #fff;
}

#course .start-now a i{
    padding-left: 10px;
}

#workout .workout-container{
    padding: 0 2.5%;
}

#workout .workout-pic{
    position: relative;
    padding-bottom: 120px;
}

#workout .workout-text h2{
    color: #D1C0F1;
    font-size: 50px;
    max-width: 50%;
    font-weight: 400;
}

#workout .workout-text p{
    color: #A094B8;
    width: 55%;
    padding: 40px 0;
}

#workout .startButton{
    background: linear-gradient(73.19deg, #FF52AF 11.6%, #9F53FF 83.86%);
    width: 30%;
    padding: 15px;
    border-radius: 999px;
}

#workout .startButton a{
    text-decoration: none;
    color: #fff;
}
#workout .startButton i{
    padding-left: 10px;
}

#workout .top-pic{
    width: 90%;
    height: 40%;
    margin-left: -100px;
    margin-bottom: -50px;
}

#workout .top-pic img{
    width: 100%;

}

#workout .bottom-pic{
    width: 90%;
    height: 40%;
    z-index: -2;
    position: relative;
}

#workout .bottom-pic img{
    width: 100%;
}

#workout .workout-info{
    background-color: #372A51;
    padding: 7px;
    width: 50%;
    border-radius: 25px;
    position: absolute;
}

#workout .workout-info:first-child{
    /* width: 20%; */
    right: 10%;
    top: 10%;
}

#workout .workout-info:last-child{
    /* width: 20%; */
    left: 0%;
    bottom: 10%;
}

#workout .playButton{
    width: 30px;
    height: 30px;
    padding: 10px;
    border-radius: 50%;
    background: linear-gradient(73.19deg, #FF52AF 11.6%, #9F53FF 83.86%);
}

#workout .caption{
    background: linear-gradient(73.19deg, #FF52AF 11.6%, #9F53FF 83.86%);
    -webkit-background-clip: text;
    color: transparent;
    padding: 0 20px;
}

#socials .pose1, #socials .pose2{
    width: 20%;
}

#socials .pose1 img, #socials .pose2 img{
    width: 100%;
}

#socials .pose3, #socials .pose4{
    margin-top: 20px;
    width: 40%;
    transform: rotate(25deg);
}

#socials .pose3{
    transform: rotate(25deg);
}

#socials .pose4{
    transform: rotate(-25deg);
}

#socials .pose3 img, #socials .pose4 img{
    width: 100%;
}

#socials .social-text h2{
    font-size: 50px;
    width: 60%;
    text-align: center;
    color: #D1C0F1;
    font-weight: 300;
}

#socials .social-text h2 span{
    background: linear-gradient(73.19deg, #FF52AF 11.6%, #9F53FF 83.86%);
    -webkit-background-clip: text;
    color: transparent;
}

#socials .socials-container{
    position: relative;
}

#socials .socials-container:last-of-type{
    max-width: 80%;
    margin: 0 auto;
}

#socials .social-text{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#socials .follow{
    border-radius: 50%;
    width: 70px;
    height: 70px;
    background: linear-gradient(73.19deg, #FF52AF 11.6%, #9F53FF 83.86%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#socials .follow a,.follow i{
    text-decoration: none;
    color: #fff;
}

#socials main{
    padding: 100px 2.5%;
}

#subscribe main{
    padding: 0 2.5%;
}

#subscribe .newsletter-container{
    background: linear-gradient(73.19deg, #FF52AF 11.6%, #9F53FF 83.86%);
    padding: 50px;
    border-radius: 30px;
}

#subscribe .newsletter-container h2{
    color: #fff;
    font-size: 50px;
    font-weight: 300;
}

#subscribe .newsletter-container p{
    color: #fff;
    font-size: 16px;
    max-width: 70%;
    text-align: center;
    padding: 30px 0;
}

#subscribe .email-subscribe{
    width: 50%;
    background: #fff;
    border-radius: 999px;
    padding: 10px;
}

#subscribe .email-subscribe input{
    width: 90%;
    border: none;
}

#subscribe .email-subscribe span a{
    text-decoration: none;
    color: #fff;
    padding-right: 5px;
}

#subscribe .email-subscribe span{
    color: #fff;
    padding: 10px 15px;
    background: linear-gradient(73.19deg, #FF52AF 11.6%, #9F53FF 83.86%);
    border-radius: 999px;
}

footer main{
    padding: 70px 2.5%;
}

footer main .footer-info{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
}

footer main .footer-info .slogan{
    grid-column: span 2;
}

footer main .footer-info h5{
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    padding-bottom: 10px;
}

footer main .footer-info p{
    color: #D1C0F1;
    font-weight: 100;
}

footer main .footer-info .slogan h5{
    background: linear-gradient(73.19deg, #FF52AF 11.6%, #9F53FF 83.86%);;
    -webkit-background-clip: text;
    color: transparent;
}

footer main .footer-info .slogan p{
    max-width: 220px;
}

footer main .footer-info .address p{
    max-width: 150px;
}

footer main hr{
    width: 100%;
    height: 2px;
    background-color: #A094B8;
    border: none;
    margin: 15px 0;
}

footer .copyright-socials p{
    color: #D1C0F1;
}

footer .social-links{
    background: linear-gradient(73.19deg, #FF52AF 11.6%, #9F53FF 83.86%);;
    -webkit-background-clip: text;
    color: transparent;
}










/*1026*/


@media screen and (min-width:600px) and (max-width: 768px){
    #hero main{
        align-items: center;
    }
    
    #hero .hero-text{
        color: #D1C0F1;
        font-size: 40px;
        font-weight: 400;
        max-width: 100%;
        padding: 0;
    }

    #hero .description-container{
        padding:0 ;
        line-height: 1.5;
        width: 50%;
    }

    #hero .hero-text figure{
        margin: 0 0 0 20px;
        width: 50px;
    }

    #hero .hero-img{
        width: 60%;
    }
    
    #hero .hero-img img{
        width: 70%;
    }

    #workout .workout-text h2{
        font-size: 50px;
        max-width: 100%;
    }

    #workout .startButton{
        width: 50%;
    }

}

@media screen and (max-width: 768px) {
    #course .course-detail{
        height: 120px;
    
    }
    
    #course .course-detail img{
        height: 130%;
        margin-top: -40px;
    }

    #course .course-container p{
        color: #A094B8;
        max-width: 250px;
        /* display: flex; */
        position: relative;
        padding: 0;
    }

    #course .next-container{
        width: 200px;
        height: 70px;
    }

    #course .next-container a{
        font-size: 10px;
    }

    #course .health-text{
        padding: 0 0 0 100px;
        width: 50%;
    }
    
    #course .health-text h2{
        font-weight: 600;
        max-width: 100%;
        font-size: 30px;

    }
    
    #course .health-text p{
        padding: 30px 0 0 0;
        max-width: 500px;
    }

    #course .course-container main{
        padding: 50px 0 0 0;
    }

    #course .course-container p{
        padding-left: 10px;
    }

    #subscribe .email-subscribe{
        width: 100%;
    }

    footer main .footer-info{
        display: flex;
        flex-direction: column;
    }

    footer main .footer-info div{
        padding: 20px 0;
        border-bottom: 1px solid #A094B8;
    }

    footer main hr{
        display: none;
    }


}


@media screen and (max-width:600px) {
    header .menu-button{
        display: flex;
        padding: 0 20px;
    }

    header .links-container{
        display: none;
    }

    #hero main{
        flex-direction: column;
        padding: 10px;
    }

    #hero .hero-text{
        color: #D1C0F1;
        font-size: 40px;
        font-weight: 400;
        max-width: 100%;
        padding: 0;
    }

    #hero .description-container{
        align-items: center;
        text-align: center;
        padding: 15px 0 0 0 ;
        line-height: 1.5;
        width: 100%;
    }

    #hero .hero-text span:first-of-type{
        padding: 0 10px;
    }

    #hero .hero-text figure{
        margin: 0 0 0 20px;
        width: 50px;
        height: 50px;
    }

    #hero .hero-img{
        width: 100%;
        height: 0%;
    }
    
    #hero .hero-img img{
        width: 70%;
    }

    #course .course01{
        flex-direction: column;
    }

    #course .course-container p{
        padding: 50px 0;
        max-width: 100%;
        text-align: center;
    }

    #course .course-container main{
        width: 100%;
        padding: 30px 0 0 0;
    }

    #course .course-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #course .health-course p{
        padding: 0;
    }
    #course .course-container p{
        padding: 20px 0;
    }

    #course .health-text h2{
        padding: 0 0 20px 0;
    }

    #course .health-text{
        width: 100%;
        padding: 20px 0;
        text-align: center;
    }

    #course .start-now{
        width: 100%;
        padding: 20px 0;
    }

    #workout .workout-container{
        flex-direction: column;
    }

    #workout .workout-text{
        justify-content: center;
        align-items: center;
        padding-bottom: 50px;
    }

    #workout .workout-text h2{
        max-width: 100%;
        text-align: center;
        font-size: 40px;
    }

    #workout .workout-text p{
        width: 100%;
        text-align: center;
    }
    
    #workout .top-pic{
        width: 70%;
        height: 40%;
        margin-left: 20px;
        margin-bottom: -50px;
        padding: 10px;
    }

    #workout .top-pic img{
        width: 100%;

    }

    #workout .bottom-pic{
        width: 70%;
        height: 40%;
        z-index: -2;
        margin-left: 100px;
        position: relative;
    }

    #workout .bottom-pic img{
        width: 100%;
    }
    #workout .startButton{
        width: 90%;
    }
    #workout .workout-info{
        width: 50%;
        border-radius: 25px;
        position: absolute;
        font-size: 15px;
    }
    #workout .workout-info p{
        padding: 5px;
    }
    #workout .workout-info:first-child{
        right: 0%;
        top: 0%;
    }
    
    #workout .workout-info:last-child{
        width: 60%;
        left: -20%;
        bottom: -10%;
    }

    #socials .social-text{
        position: relative;
        width: 100%;
    }

    #socials .pose1-2-container{
        justify-content: center;
    }

    #socials .pose1{
        padding-right: 20px;
        margin-top: -50px;
    }

    #socials .pose1, #socials .pose2{
        width: 40%;
    }

    #socials .socials-container{
        flex-direction: column;
        justify-content: center;
    }

    #socials .pose3, #socials .pose4{
        width: 80%;
        margin: 0 auto;
    }

    #socials .social-text{
        position: relative;
        top: 0;
    }

    #socials .social-text h2{
        width: 100%;
    }

    #subscribe .newsletter-container{
        padding: 20px;
        text-align: center;
    }

    #subscribe .newsletter-container p{
        max-width: 100%;
    }

    #subscribe .email-subscribe{
        width: 80%;
    }

    #subscribe .email-subscribe{
        flex-direction: column;
        background-color: transparent;
        width: 100%;
        align-items: center;
        border-radius: 0;
    }

    #subscribe .email-subscribe input{
        width: 100%;
        padding: 10px;
        border-radius: 999px;
        margin-bottom: 15px;
    }




}

@media screen and (max-width: 425px) {
    #course .course-container h2{
        padding: 10px;
        font-size: 35px;
    }

    #course .course-container{
        flex-direction: column;
    }

    #course .course-container main{
        width: 100%;
        padding: 30px 0 0 0;
    }

    #course .health-course p{
        padding: 0;
    }

    #course .health-text{
        width: 100%;
        padding: 0;
        text-align: center;
    }

    #course .start-now{
        margin: 0 auto;
    }

    footer .copyright-socials{
        padding: 20px 0;
        flex-direction: column;
        align-items: flex-start;
    }

    footer .social-links{
        padding: 10px 0;
    }
}

@media screen and (max-width: 340px) {
    #course .course-detail{
        max-width: 70%;
    }

    #course .course-detail img{
        width: 100%;
    }
}